* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
}

.banner {
    padding: 25px;
    background-color: #9ee3f2;
}

.symbol {
    height: 100px;
    width: auto;
}

.logo {
    height: 100px;
    width: auto;
    padding-left: 28%;
}

.sidebar {
    background-color: #dedede;
    float: left;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 1500px;
    box-shadow: -10px 10px 20px #afafb6 inset;
}

.sidebarMenu {
    position: absolute;
}

.sidebarMenu table {
    background-color: #ffffff;
    border: 2px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0px;
    padding: 15px;
    width: 300px;
    height: 50px;
    text-align: left;
    margin-left: 50px;
}

ul {
    padding-left: 30px;
}

hr {
    margin: 20px 0px 10px 0px;
}

.smallTitle {
    margin-bottom: 10px;
    text-align: right;
    font-size: 13px;
}

.quickView .topTitle {
    background-color: #ffffff;
    width: 300px;
    height: 50px;
    padding: 5px;
    border: 2px solid #d5d5d5;
    margin-bottom: 10px;
    margin-top: 50px;
}

.quickView .topTitle th{
    background-color: #ffffff;
    border: 2px solid #d5d5d5;
    padding: 5px;
}

.quickView .bottomTitle {
    background-color: #ffffff;
    width: 300px;
    height: 50px;
    padding: 5px;
    border: 2px solid #d5d5d5;
    margin-bottom: 50px;
}

.quickView .bottomTitle th{
    background-color: #ffffff;
    border: 2px solid #d5d5d5;
    padding: 5px;
}

.title {
    width: 100px;
}

.smallBanner {
    background-color: #1c2476;
    color: #ffffff;
    padding: 17px;
    padding-left: 480px;
    font-size: 15px;
}

.content {
    padding: 100px;
    padding-left: 600px;
}

form {
    align-self: center;
    display: flex;
    margin-left: 20px;
    margin-bottom: 35px;
}

input[type=text], select {
    width: 200px;
    background-color:#ffffff;
    border-radius: 4px;
    border: 2px solid #d5d5d5;
    padding: 12px 20px;
    margin-left: 5px;
}

input[type=submit], option {
    width: 100px;
    background-color:#1c2476;
    color: #ffffff;
    border-radius: 4px;
    border: 1px;
    padding: 12px 20px;
    margin-left: 100px;
    margin-right: 5px;
    box-shadow: 0px 7px 6px #afafb6;
}

input[type=submit]:hover {
    background-color:#333a88;
}

.getCoupleID {
    display: flex;
}

.btn {
    width: 200px;
    background-color:#1c2476;
    color: #ffffff;
    border-radius: 4px;
    border: 1px;
    padding: 12px 20px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 35px;
    box-shadow: 0px 7px 6px #afafb6;
}

.btn:hover{
    background-color:#333a88;
}

.attention h1 {
    color: #ff0000;
    font-size: 20px;
}

.attention p {
    color: #555555;
}

.belumHantar {
    color: #ff0000;
}

.fa {
    color: green;
}

.userList {
    background-color: #4c4c4d;
    width: 100%;
}

.userList th{
    background-color: black;
    color: #ffffff;
    padding: 10px;
}

.userList td{
    background-color: #cfd1d4;
    padding: 10px;
}

.operation {
    text-align: center;
    color: #4c4c4d;
}

.functionIcon {
    background-color: #cfd1d4;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}